[2016-02-16 13:30] iiminov opened #1 "GetToken issue once returned back to DNN website"
Hi, looking for tiny bit of help with this one.

After I had no joy with an existing installation (upgraded to 7.4.2) I've setup a clean 7.4.2 installation on my dev server. I then installed Azure Provider 1.0.1 and configured it with relevant Azure AD endpoints. At this stage I get `Login with Azure` button which redirects me to my portal where I login. When I am redirected back I get an exceptio

[2016-02-16 14:37] iiminov commented on #1
My apologies. I managed solve my problem. It boiled down to incorrect ``CLIENT ID`` used with module configuration.

[2016-02-16 14:57] iiminov commented on #1
Just in case someone is interested I ended up testing with both 7.4.1 and 7.4.2 installs. And both work once you get your endpoints and configs right.

[2016-03-01 11:16] iiminov opened #2 "Multi tenant sign in"
I ran into a problem signing in users when I tried to leverage multi tenant configuration in Azure AD.

I can still sing in users from my original tenant where I created my App/API without any issues. But as soon as I try to signin with a user from any other tenant I run into a problem.

[code]

Looking at `AzureClient.GetToken` the exception is thrown when `responseText` is either null or an empt

[2016-03-01 22:47] davidjrh commented on #2
Ricardo Leon is going to commit a change with some new additions, including a new scheduled task that syncs AD Roles and role members.

There is also a specific fix for the error you are mentioning: when an AD authenticated user has no permissions to the Application you created on the Azure portal. You can add users from other tenants to an existing tenant, and then give permissions to the Applica

[2016-03-02 15:05] iiminov commented on #2
As a workaround, you can add users from other tenants to an existing tenant, and then give permissions to the Application

Thank you for the info. That certainly gives me another option. I believe I read something about it somewhere in [here](https://azure.microsoft.com/en-us/documentation/services/active-directory/) a while back.

[2017-05-09 15:45] jgrahamfcac opened #3 "Strange Exception Error DNN9"
Hi, I followed the instructions and have even recreated the DNN instance. Once I sucessfully authenticate with Azure, I get this error which I can access from the admin logs. Any ideas?

Default.aspx
DefaultDataProvider:DotNetNuke.Data.SqlDataProvider, DotNetNuke
ExceptionGUID:
AssemblyVersion:9.1.0
PortalId:0
UserId:-1
TabId:41
RawUrl:/myfcac/Login?code=AQ***inserthugecode***
Referrer:http://my.x

[2017-07-17 11:25] iiminov commented on #3
@jgrahamfcac
I think I had a similar issue with one of our users. It boiled down to incorrect or missing (Azure) profile entry.

Id, Email, FirstName, LastName, DisplayName are the five properties the provider is trying to extract from the claim. If one of those is missing ``claims.FirstOrDefault(x => x.type == {type}).Value`` throws object reference exception which is what you're getting.

Have t

[2017-07-17 11:35] iiminov opened #4 "Microsoft Graph vs Azure AD Graph"
I came across an article today [Microsoft Graph or Azure AD Graph](https://blogs.msdn.microsoft.com/aadgraphteam/2016/07/08/microsoft-graph-or-azure-ad-graph/).

The gist is that Microsoft is pushing developers to use their new Microsoft Graph API (graph.microsoft.com) as opposed to Azure AD Graph (graph.windows.net). Now in saying that Microsoft is still committed to supporting Azure AD 99.99% of

[2017-07-28 14:31] whaleva opened #5 "MFA and/or device registration"
Azure AD Provider has worked well for us for over a year now.   We have stumbled lately when trying to enforce conditional access off network using MFA and/or device registration.

In DNN we receive the generic “A critical error has occurred.” on client side, and event log we see a Page Load Exception with the following details:
InnerMessage:
There was an error processing the credentials. Contact

[2017-07-31 06:32] iiminov opened #6 "Using AzureUserToken with other Apps"
Recently I came across OneNote javascript library (adal.js and angular-adal.js) which I was able to get working on my DNN website. The only issue that I have with it is that the user is presented with a login button to sign in to Azure which makes little to no sense when they signed in with Azure AD in the first place.

I did notice that when I sign in using Azure AD provider I get ``AzureUserToke

[2017-07-31 06:39] iiminov commented on #6
And last Friday afternoon I got a response to my original email from David Rodríguez:

While testing the ``HttpClient`` request loop I thought that the permission would be of some relevance. I had enabled all permissions for OneNote that I could see but I still wasn't able to get this working.

At this stage, I hope that David would get a chance to test this and revert back with the findings.

[2017-11-16 08:37] cesarab opened #7 "Logout option"
The current implementation of the provider doesn't have the logout option. It should be fine to have, so that we can invalidate the authorization token.

[2017-11-20 18:39] davidjrh commented on #7
Added Azure OAuth logout implementation on commit https://github.com/davidjrh/dnn.azureadprovider/commit/27b9d15ca95fbd307994009408d749de135b4e02

[2017-11-20 18:39] #7 closed

[2017-11-20 18:41] davidjrh commented on #1
Closing, not an issue any more. With the v3.0.0, the configuration process is easier so this type of issues should not happen :)

[2017-11-20 18:41] #1 closed

[2018-03-01 16:03] shanewalker1595 opened #8 "How can we change the text from "Sign In with Azure""
Is this something that we could add to be a module setting? I would be willing to work on this myself.

[2018-03-01 19:40] shanewalker1595 opened #9 "Apply settings global, not on a portal-by-portal basis?"
As it currently stands, the settings can only be used on a portal-by-portal basis. The extension must be configured for each portal.

How Can I apply these settings globally?

[2018-03-01 21:48] davidjrh commented on #9
Hi, the settings must be applied by portal because is how DNN auth works. Perhaps you want to check the DNN site groups feature? It allows to use the same users/roles for a group of portals.

[2018-03-01 21:51] davidjrh commented on #8
Currently there is no setting to configure the text, other than just editing the resx file https://github.com/davidjrh/dnn.azureadprovider/blob/master/DotNetNuke.Authentication.Azure/App_LocalResources/Login.ascx.resx

[2018-03-22 13:23] iconITguy opened #10 "After Successful Sign, DNN Shows Not Signed In"
I've followed the instructions and when I attempt to login with Azure, I'm sent to the Azure AD sign-in page, I successfully sign in and am redirected back to DNN but in DNN, I'm not actually signed in as far as the UI goes.  If I check the log in DNN, it shows a successful login by the Azure user account.  Any idea what I'm missing in the setup or what is wrong?

Thanks!

[2018-03-30 03:06] mogadorealumni opened #11 "This might be stupid... but I need to ask because I'm racking my brain - Error processing credentials"
AbsoluteURL:/Default.aspx
DefaultDataProvider:DotNetNuke.Data.SqlDataProvider, DotNetNuke
ExceptionGUID:3be21ae4-2792-423b-ab8d-8f12c4e17973
AssemblyVersion:9.1.0
PortalId:0
UserId:-1
TabId:20
RawUrl:/Login?code=AQABAAIAAABHh4kmS_aKT5XrjzxRAtHzeJ8qSXMFfaW-akK3ARO0RGCbFsWoXdljevMDfRp9yWneSQb_oXP24_vfNSYUDNrFh-o09ILH1znhPhnRs3qlz4aNlr53YEp88E39gLwKKE7fOTWq1NFU9HECb7IoVTYuLOBte2h6UsbUlWX7FCYpGD1Cq7KX

[2018-04-05 20:36] shanewalker1595 opened #12 "Settings do not save in DNN 9.01+"
When configuring settings in DNN 9.01+, the settings will not save. Manually creating them in the Database works though.

Status Code: 404
URL: /API/personaBar/AzureAD/UpdateSettings

[2018-04-15 22:07] mryckman commented on #10
I'm having this same problem... any luck figuring it out?

[2018-04-16 12:12] shanewalker1595 commented on #10
Did you authorize the azure account?

[2018-04-16 12:55] iconITguy commented on #10
That's strange.  I thought for sure I had authorized the account on one of my test runs but trying it again, it seems to be working now.  Thanks!

[2018-04-16 12:55] #10 closed

[2018-04-17 12:52] mryckman opened #14 "Automatically Authorize?"
From a different issue, I saw the problem with users not being authorized when they first sign in. This certainly created a confusing experience for me, and I'm sure others. Also, it adds a lot of administrative work.

Is there a way to automatically authorize new Azure users?

[2018-04-23 21:34] ddonaldsondss opened #15 "Error on Login AADSTS50011: The reply url specified in the request does not match the reply urls configured"
Hello,

I'm working on a DotNetNuke 9.01 Site and I worked with my IT Department on configuring the add-on based on the instructions provided. The problem is that I'm unable to login via Azure as I get the error listed in the title. I'm unable to find where to find the replyUrls section in the code for the site. Can you illuminate how to resolve this issue?

Sincerely,
David B. "Red" Donaldson.

[2018-04-24 10:13] shanewalker1595 commented on #15
Check that the reply URL in the Azure App Registration is configured correctly.

[2018-04-26 21:38] ddonaldsondss commented on #15
Hello,

We get a redirect_uri of http://{mysite}/Login, but it just redirects back to the Login page without logging us in. Should there be a different location to redirect to? Is there a file within the site that I can look for to determine what the reply url value is listed as?

Sincerely,
David B. "Red" Donaldson.

[2018-04-27 12:02] shanewalker1595 commented on #15
Login with the super user account (the one not linked to azure ad) and check the users tab to see if there is any unauthorized accounts that are related to yours.

REF: https://github.com/davidjrh/dnn.azureadprovider/issues/10

[2018-04-27 14:35] ddonaldsondss commented on #15
I just checked the user's tab and I did find 2 unauthorized users. I authorized them, but I'm still experiencing the same issue as before. Is there a config file within the site that needs to be edited?

[2018-05-17 21:24] dpuffenberger opened #16 "Bad Request - Invalid URL"
I am getting a "Bad Request" HTTP Error 400 after successful login with the Azure AD with the URL in the address bar showing a long code preceded by "code/" and ending with session state details.

[2018-05-17 22:26] ddonaldsondss commented on #15
Unfortunately not, no. It looks like the replyurl in azure is different than the one in the DNN application. I’m planning on reaching out to DNN support for more information.

Sent from my iPhone

On May 17, 2018, at 6:22 PM, shanewalker1595 <notifications@github.com<mailto:notifications@github.com>> wrote:

Was this ever resolved?

—
You are receiving this because you authored the thread.
Reply t

[2018-05-17 23:52] shanewalker1595 commented on #15
Thinking back on it now, I think I remember a situation where users would be sent to Azure to sign in, enter their credentials and be forward back to the Login page, but only if they needed authorization. I probably just overlooked it because in our environment we only have a handful of users and they are all authorized now and everything works.  Is this the problem you have too?

[2018-05-18 00:17] ddonaldsondss commented on #15
Not quite, as in my case, when I click on “Sign in with Azure,” it brings up the following error: [cid:image005.png@01D3EE1C.16D85E50]

Sincerely,
David B. “Red” Donaldson | Programmer Analyst I
OFFICE:  561.284.7345
CELL:      561.847.0251
EMAIL:   ddonaldson@dssinc.com<mailto:ddonaldson@dssinc.com>
12575 U.S. HIGHWAY 1 | SUITE 200 | JUNO BEACH, FL 33408
[cid:image001.png@01D31FFF.7F1265B0]<https

[2018-05-18 18:27] davidjrh commented on #15
Hi @ddonaldsondss, there is no config file, all settings are on the tab. Can you reattach the error image? One of the causes of "AADSTS50011: The reply url specified in the request does not match the reply urls configured" can be that the Url on the Azure AD side is case sensitive, and that is one of the reasons I always uses lower case Urls.

[2018-05-18 18:31] davidjrh commented on #14
You just need to change the setting "Settings > Security > Member Accounts > Registration Settings > User Registration" from "Verified" to another one that best suits your needs.

Let me know if that solves your issue.

[2018-05-18 18:34] davidjrh commented on #12
Hi @shanewalker1595, I'm running a 9.1.1 and can't reproduce the issue. Can you confirm this is still a problem?

[2018-05-18 18:38] davidjrh commented on #11
The Azure AD provider automatically registers the user after being authorized by Azure AD (note that the users registration settings can still be "Verified", "Public", "Private" or "None", so you need to change that as needed on "Settings > Security > Member Accounts > Registration Settings > User Registration"

But I would bet by the error message, that when you copied the app credential from Azu

[2018-06-11 15:47] davidjrh commented on #15
On the second screenshot, can you check in the URI the parameter "redirect_uri"? It must be exactly the same one you have setup on the Azure AD app.

[2018-06-11 15:51] davidjrh commented on #16
Do you have the site behind a Web Application Firewall? Also wondering the length of the URL that was created by the Azure AD. Can you copy and paste the URL on notepad and count the number of characters?

[2018-06-17 11:18] shanewalker1595 commented on #12
The issue seems to be resolved in DNN 9.1.1

[2018-06-21 21:37] dpuffenberger commented on #16
No WAP's or CDNs.  I've tried installing and using on both a localhost environment and a test site environment on production server.  Each with the same results. The URL (after the "code/") is 781 characters long.

[2018-08-13 06:35] #2 closed

[2018-08-13 06:37] iiminov commented on #4
Just closing old issue. We have successfully switched over to Auth2 v2.0 and MS Graph API eight months ago.

[2018-08-13 06:37] #4 closed

[2018-08-13 06:44] iiminov commented on #6
Still, no real solution but it seems to be a real pain as even MS product and dev guys run for the hills when we say we want Auth2 v2.0 and MS Graph API v1.0 to talk with One Note API v1.0.

There is On-Behalf-Of flow which looked like it might be the solution to our problem but we have not been successful in getting this to work. Either an issue with how we were trying to use the On-Behalf-Of flo

[2018-08-13 06:44] #6 closed

[2018-10-10 14:45] shanewalker1595 opened #17 "AADSTS54005: OAuth2 Authorization code was already redeemed"
After logging in with Azure AD I am experiencing the same issue described here: https://social.msdn.microsoft.com/Forums/azure/en-US/4192e141-309a-4dd6-a5c9-f1a8ce32f4ca/aadsts54005-oauth2-authorization-code-was-already-redeemed?forum=WindowsAzureAD

[2018-11-02 00:14] ohine commented on #11
I'm getting the same issue when trying to use the provider. I verified no spaces are in my settings.

After attempting a login, I get the same error logged. When going back into the provider settings, it's disabled and the app id and secret are blank.

Any more ideas @davidjrh?

[2018-11-21 13:31] shanewalker1595 commented on #17
I placed a ticket with DNN Support (I believe the OAuth flow is their code)

Here is the response:

Thank you for your patience while we were investigating this issue. Whereas we are committed to assisting you with this issue, we have found out that the referenced link (https://github.com/davidjrh/dnn.azureadprovider) is by a third party and the source code has not been updated for a long while. T

[2018-11-26 21:48] davidjrh commented on #17
Can you share more details on the issue? I'm not able to reproduce it.
* Are you using the latest version of the provider?
* Which version of DNN are you using?
* Did you follow the latest setup instructions for the Azure AD provider? (only using one App Registration on Azure)
* The issue happens just after login, or after browsing the site for around 1 hour?

[2018-11-27 11:49] davidjrh commented on #17
Can you check on the DNN Eventlogs for an error like this one?

[code]

[2018-11-27 11:51] shanewalker1595 commented on #17
David,

It’s a complicated issue because Microsoft has directly told me that sites with > 10 Logins per month are granted an exception.

We experienced this issue in Oct. but the day after experiencing it, the exception kicked in because I tried to login to the website like 30 times.

Same thing just happened again this Nov.

The issue occurs when any sign in from Azure is attempted. It fails afte

[2018-11-27 11:57] davidjrh commented on #17
Weird issue. I have a customer with a similar symptom you mention, but can't verify if it is the same issue, I'm going to download the DNN code base for the particular version the customer has because the OAuth request is done on the DNN code and the response arrives empty to the Azure provider.

Other interesting issue is that this happens with some users, while not with others. I will keep inves

[2018-11-27 13:22] shanewalker1595 commented on #17
2018-11-19 12:52:50.432-05:00 [CCGWEB1][D:2][T:59][ERROR] DotNetNuke.Services.Authentication.OAuth.OAuthClientBase - WebResponse exception: {"error":"invalid_grant","error_description":"AADSTS70002: Error validating credentials. AADSTS54005: OAuth2 Authorization code was already redeemed, please retry with a new valid code or use an existing refresh token.\r\nTrace ID: 9df0210d-bf9f-45d9-b19b-b326

[2018-11-27 18:09] davidjrh commented on #17
Ok, I was able to reproduce the issue with one of the Azure AD users (interesting that with other users don't happen):
1. For some reason, I see two webrequests on DNN on the ExchangeCodeForToken call. The first one works, the second fails with the error
2. This happens on certain users

...continue debugging...

[2018-11-27 18:58] davidjrh commented on #17
I have packaged a new Release v3.0.1. Can you please double check? I have already installed on my customer website and is now working properly.

[2018-11-28 17:40] davidjrh commented on #17
I have verified that this is now working on several sites. Going to close the issue, but if you find something else, let me know.

[2018-11-28 17:40] #17 closed

[2018-12-05 18:59] kanagavallapparaj commented on #11
Hi davidjrh, I am also facing the same issues , after login default.aspx throwing the below error.
AbsoluteURL:/Default.aspx
DefaultDataProvider:DotNetNuke.Data.SqlDataProvider, DotNetNuke
ExceptionGUID:02021ce3-3171-4609-9f85-a235f1f04c28
AssemblyVersion:9.2.2
PortalId:0
UserId:-1
TabId:20
RawUrl:/Login?state=Azure&code=eyJraWQiOiJjcGltY29yZV8wOTI1MjAxNSIsInZlciI6IjEuMCIsInppcCI6IkRlZmxhdGUiLCJzZ

[2018-12-05 20:30] davidjrh commented on #11
Hi, I believe that @ohine and @kanagavallapparaj issues are the same one that I fixed some days back with the 3.1 release (see issue https://github.com/davidjrh/dnn.azureadprovider/issues/17).

Can you check with the new 3.1 release?

[2018-12-05 20:32] davidjrh commented on #12
Ok, closing the issue

[2018-12-05 20:32] #12 closed

[2018-12-10 14:36] vmasanas opened #18 "Setup for DNN 7.4.1"
I'm trying to configure v1 on a DNN 7.4.1 and the settings contain a few extra options not mentioned here.
So far I see:
- TokenEndPointId
- AuthorizationEndPoint
- GraphEndPoint
- AppIdUri
- APIKey
- APISecret

I have the following params for my account: Directory ID, AppID and key.
I guess tha Key referst to APISecret but don't know how to configure everything else.

Anyone?

[2019-03-04 15:19] jratwork opened #19 "Anyone trying this with AzureB2C?"
I have been trying to make this work with AzureB2C and seem to be getting very close, but not quite.  I think it is actually trying to auth against the AzureAD accounts that I'm using behind AzureB2C.  AzureB2C seems to be a good way to centralize various other auth-providers to DNN.

Any feedback, suggestions appreciated.

[2019-03-04 15:26] davidjrh commented on #19
Hi, I remember I started to implement it but I needed to jump to other project and never got it finished. There is a branch called "aad-b2c" (https://github.com/davidjrh/dnn.azureadprovider/tree/aad-b2c) with some minor modifications I did for the PoC:

https://twitter.com/davidjrh/status/922492624694628352

[2019-03-04 20:29] gnanm commented on #19
I am able to successfully integrate with Azure B2C with the help of https://twitter.com/davidjrh/status/922492624694628352. But i am facing a challenge in adding custom user roles and make the new user as authorized.
In the "GetToken" method that gets overriding from OAuthClientBase, I am setting the custom Roles as shown below:
            JwtSecurityToken.Payload.AddClaims(
                new L

[2019-07-04 10:31] davidjrh commented on #19
hi @jratwork @gnanm

@cesarab and me worked on a new provider for Azure AD B2C that is available and open sourced at [https://github.com/intelequia/dnn.azureadb2cprovider](https://github.com/intelequia/dnn.azureadb2cprovider)

Give it a try!

[2019-07-04 10:31] #19 closed

[2019-09-05 21:28] andrewqit opened #22 "Error "AADSTS90023 Request is malformed or invalid.""
The below issue from the previous version has returned with the latest version:

Fixed double exchange code for token calls, causing a login issue introduced on Azure AD after October 10th, 2018

I verified this by getting the error caused by the issue using the latest version. I then installed the previous version, and the issue was gone.

[2019-09-05 22:39] davidjrh commented on #22
Hi @andrewqit for notifying this. Checking the code, I see that the code fix I made to solve the old issue is still on the master branch https://github.com/davidjrh/dnn.azureadprovider/blob/master/DotNetNuke.Authentication.Azure/Login.ascx.cs#L80

So after downloading the 3.1.0 package and decompiling the assembly, I see that the compiled code is effectively looking like the old version. I'm not s

[2019-09-05 23:24] andrewqit commented on #22
No problem David. Quick question: I'm trying to disable AutoRegister but not sure I can do that unless the provider supports the AutoRegister property.

Line 1229 in login.ascx.cs

![2019-09-05 17_23_05-Clipboard](https://user-images.githubusercontent.com/46329549/64389935-f9712f80-d001-11e9-96f8-d9e1ff51b40c.png)
r property. Am I correct?

[2019-09-07 09:34] davidjrh commented on #22
After a second review before rebuild, there was no build error and that the code shown above correspondes with the optimized version that the compiler does. Going to check more deeply.

[2019-09-20 19:50] andrewqit commented on #22
Hi David, checking to see if you had a chance to peek at this. I'm still getting the error in some circumstances.

AbsoluteURL:/Default.aspx

DefaultDataProvider:DotNetNuke.Data.SqlDataProvider, DotNetNuke

ExceptionGUID:70fd4af7-c761-4c67-9c8c-62ba6712c55f

AssemblyVersion:9.3.2

PortalId:0

UserId:-1

TabId:86

RawUrl:/login?code=<redacated>

Referrer:<redacted>

UserAgent:Mozilla/5.0 (Macintosh

[2019-09-21 11:50] davidjrh commented on #22
Hi, last weekend I tried to reproduce the error with a fresh install and I couldn't, but I think I have a site with the same behavior. Working again on it this weekend.

[2019-09-21 14:15] davidjrh commented on #22
@andrewqit can you check your log4net logs and see if there is any error like the one below?

[code]

[2019-09-21 14:45] davidjrh commented on #22
If that is your case, I have found that if you enable the SEO Setting "Redirect Mixed Case URLs" to "True", this causes the Url (including parameters such as the auth code returned by AAD) to be converted to lowercase, so can't be exchanged correctly.

You can check the value of that setting by running this SQL query. The SettingValue should be False

`select * from PortalSettings where SettingNam

[2019-09-21 14:57] davidjrh commented on #22
IMHO, that setting should only affect the Host and Path of the URL, but never the QueryString part. I have created this issue on DNN Platform https://github.com/dnnsoftware/Dnn.Platform/issues/3011

[2019-09-21 15:06] davidjrh commented on #22
PS: the error detail you posted above doesn't contain any value after the "?code=", and should have the exchange token there. Not sure if that's caused because you are using a previous version, so please, update again to 3.1.0 and check the log4net logs for more details.

[2019-09-21 15:15] andrewqit commented on #22
Hi David, I’m looking into your comments now. As far as the code goes, I redacted the token.

From: David Rodríguez <notifications@github.com>
Sent: September 21, 2019 9:06 AM
To: davidjrh/dnn.azureadprovider <dnn.azureadprovider@noreply.github.com>
Cc: Andrew Bryson <Andrew@QuercusIT.com>; Mention <mention@noreply.github.com>
Subject: Re: [davidjrh/dnn.azureadprovider] V3.1.0 issue (#22)

PS: the

[2019-09-21 15:44] andrewqit commented on #22
Indeed that settings is True. I had some other issues a while ago related to QueryStrings coming in with mixed case, causing issues with another module. I’ve set it back to False. Unfortunately, I can’t reproduce the error myself but I have a specific user that can and am waiting for him to give it a try.

Thank you for looking into this.

From: David Rodríguez <notifications@github.com>
Sent: Sep

[2019-09-24 20:44] andrewqit commented on #22
Hi David, I changed the setting but it's having no effect. I'm still getting the same problem, but it's intermittent. It's possible it's not the Auth provider, it may be DNN. However, it is the Auth provider that's throwing the error as shown in a previous post.

[2019-10-08 20:16] ahoefling opened #23 "Saving Secrets While Not Logged In"
# Scenario
As a host user I have logged in and opened the Persona Bar Module to configure Azure AD. My session expires and I attempt a save and no error appears.

# Reproduction Steps
1. Install Module into new instance of DNN
2. Configure Azure AD correctly per the documentation
3. open a new tab
4. log out and verify that you are logged out in new tab
5. in the original tab update the Azure AD s

[2019-10-22 10:22] davidjrh commented on #23
Thanks @ahoefling, this situation should be handled on the personaBar React component. I have added it to the backlog.

[2019-10-22 10:24] davidjrh commented on #9
Hi, on the Azure AD B2C provider (https://github.com/intelequia/dnn.azureadb2cprovider) I recently implemented the global settings feature, and I now understand better this request. Adding it to the backlog.

[2019-11-12 12:40] m-dewkalie opened #24 "login to second portal gives error"
Hi,
Love your plugin and we really needed this plugin for our websites. We hope you can help us with the following issue.
We have one DNN installation in which we host different portals.
When a user is logged into one webportal, this is without problems.
 When the same user tries to log to a second webportal using the same credentials, this gives the following errormessage:   "This username is alr

[2019-11-12 13:52] davidjrh commented on #24
Since DNN doesn't allow a user to be registered twice in the same instance because shares the Membership tables, there is no easy way to solve this.

A workaround could be to add a record on the UserPortals table for both portals, but not sure how we could automatically add that record based on what? Imagine: this user can login on portal 0 and 1, this other on 0 and 2, and this one on 0, 1 and 2.

[2019-11-12 14:09] shanewalker1595 commented on #24
Another way to solve this would be to put all Portals in the same Site Group. And then only login to the “Main” portal and you will be also logged into all other portals.

[2019-12-14 19:30] andrewqit commented on #22
For anyone else that's exhausted all the obvious and perhaps seemingly obvious resolutions, I did manage to get my problem resolved. I deleted the application registration, re-created it and it worked. One would think it was a permissions issue, but it definitely was not. I'm not really sure what it was, perhaps a glitch with the code to create application registrations. Who knows...

[2020-02-26 18:27] davidjrh commented on #14
On v4.0.0 version, a new implementation now allows to automatically authorize the user without the need to set the User Registration to verified.
https://github.com/davidjrh/dnn.azureadprovider/releases/tag/v4.0.0-preview

[2020-02-26 18:28] davidjrh commented on #5
We have been successfully using the MFA features on Azure AD with this provider for a long time now. Closing this issue as old one.

[2020-02-26 18:28] #5 closed

[2020-02-26 18:29] davidjrh commented on #9
This is now implemented on v4.0 https://github.com/davidjrh/dnn.azureadprovider/releases/tag/v4.0.0-preview

[2020-02-26 18:29] #9 closed

[2020-02-26 18:32] davidjrh commented on #22
Found another use case where the exchange code was bening exchanged twice. Added code to avoid this situation on v4.0. https://github.com/davidjrh/dnn.azureadprovider/releases/tag/v4.0.0-preview

[2020-02-26 18:32] #22 closed

[2020-02-26 18:33] davidjrh commented on #11
Closing as old issue and probably solved on #17

[2020-02-26 18:41] davidjrh commented on #16
I could finally reproduce this isse on a local site. Seems this is caused by the Friendly URL provider, chaning the "?code=AAA..Z&state=xxx" for "/code/AAA..Z?state=xxx". Since the code is long, IIS returns a Bad Request. This can be solved by disabling the "Settings > SEO > URL Management > General Settings > Redirect to Friendly URLs", or by changing the default "Ignore URL Regular Expression" u

[2020-02-26 18:41] #16 closed

[2020-02-26 18:42] #8 closed

[2020-02-26 18:45] davidjrh commented on #24
I'm wondering if the new "Use Global Settings" on v4.0 helps at least on logging into all the portals under the same DNN instance.

[2020-02-26 18:47] davidjrh commented on #18
Closing as old issue, and it is already documented.

[2020-02-26 18:47] #18 closed

[2020-02-26 18:51] davidjrh commented on #15
Closing as old issue

[2020-02-26 18:51] #15 closed

[2020-04-08 13:46] MarkJaroski commented on #11
Hi @davidjrh , sorry to reopen this, but we've install the 3.1 release on DNN 09.04.05.

I can see that it uses the auth code grant. The first GET to Microsoft works, and DNN receives the GET coming back after AuthN. I can see traffic go out to verify the token, but it's encrypted of course.

Are there any debugging tricks that I can use to see what's going wrong in the token validation step?

For

[2020-04-08 14:43] davidjrh commented on #11
Can you check for more information on the log4net files? When an error happens during the code exchange, a log entry is written under /Portals/_default/Logs/LogYYYY-MM-DD.resources file

[2020-04-08 15:28] MarkJaroski commented on #11
Checking now

[2020-04-08 15:35] MarkJaroski commented on #11
Thank you @davidjrh I see the issue, and it's a problem with our hosting environment.

[2020-04-08 16:02] MarkJaroski commented on #11
@davidjrh Just one more question: is there any way to get the extension to use a different base URL than the canonical server one? We're behind a reverse proxy, and there's been a lot of work put into rewrite rules to switch the server names around.

[2020-04-08 16:32] davidjrh commented on #11
On the new v4.0 (preview) there is a new setting where you can specify a single ReturnUrl after a successful login that could potentially work in your scenario, but I'm worried going in production with the new version yet. I would recommend to test it on a staging scenario first.

![image](https://user-images.githubusercontent.com/489976/78809475-e622aa00-79be-11ea-9e85-06be74bd4be4.png)

[2020-04-08 16:33] MarkJaroski commented on #11
Thank you!

[2020-04-10 22:03] mnagatos101 opened #26 "Error updating settings"
We are are on DNN 9.5.  This error triggers when updating the settings.  Please advise.

![Capture](https://user-images.githubusercontent.com/35544902/79026023-5dca1380-7b3c-11ea-8122-7796a55e093e.PNG)

[2020-04-12 10:47] davidjrh commented on #26
Which version of the module? 4.0?

[2020-04-13 17:04] mnagatos101 opened #27 "Error in Role Sync Job"
It says it succeeded, but this exception kicks and the roles do not pull down to DNN.

Starting Azure AD Synchronization Error while synchronizing the roles from portal 0: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory, Version=5.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot

[2020-04-13 17:06] mnagatos101 commented on #26
Yes, we are on version 4.0.

[2020-04-17 13:26] MarkJaroski commented on #26
Is there a workaround for this, by chance?

[2020-04-17 15:43] MarkJaroski commented on #26
Ah, I found a workaround. I changed the call to updateGenericSettings() in export-bundle.js.

[2020-04-21 12:16] MarkJaroski opened #28 "Feature Request: Option to use the id_token instead of access_token"
We're running into some limitations in our implementation which has to support B2B (Azure Guest) users and internal users.

I'm considering changing things around a bit to use the id_token rather than the access_token for incoming claims, since we have a bit more flexibility with configuring the claims present there.

What do you think about the idea?

[2020-04-21 12:39] davidjrh commented on #28
Have you played with Azure AD B2C? It covers internal and B2B scenarios, and you can fully customize (with a bit of experience) the user flows, user attributes, claims, etc.
Check the B2C provider here: https://github.com/intelequia/dnn.azureadb2cprovider

[2020-04-21 12:41] MarkJaroski commented on #28
Thanks David.

We did give it a try. I didn't realise that it also covers internal and B2B users. I'll go give the documentation a more in-depth read. Thanks!

[2020-04-21 13:43] MarkJaroski commented on #28
How do we configure the B2C provider to use B2B and internal users instead? We don't have a B2C tenant, so the first part of the handshake fails.

[2020-04-21 14:32] davidjrh commented on #28
By using the OpenID Connect provider. Check these docs:
* Using user flows (single tenant): https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant
* Using B2C custom policies:
   * Single tenant (single tenant): https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant-custom
   * Multi tenant (multi tenant -

[2020-05-13 21:59] moorecreative commented on #26
I can confirm the same issue in DNN 9.5 and encounter it not saving in module version 3x and 4x.

What was the edit that Mark made to workaround? was it an edit in the module references? or was it in the personabar js of DNN 9.5?

[2020-05-13 22:01] moorecreative opened #29 "newest version number is 4x or 5x?"
Within the DNN Extensions screen, the column for version upgrade shows that there is a newer version number out for the authentication provider (see screenshot). Is that a mistake in the version number listed?

![image](https://user-images.githubusercontent.com/5497943/81870436-d3623e80-9543-11ea-91f4-34313425ad69.png)

[2020-05-14 14:50] davidjrh commented on #29
Sounds like a bug in DNN Platform. Latest version at this moment is 4.0.0

[2020-05-14 14:52] davidjrh commented on #26
Going to check this

[2020-05-14 14:54] davidjrh commented on #27
By your message in the other thread, I suppose you are using DNN 9.5. Going to test this with the latest 9.6.1 version and see if there is a missing binding redirect or is just the assembly not being included in the package.

[2020-05-15 18:12] davidjrh commented on #26
Fixed con commit f392f73

[2020-05-15 18:12] #26 closed

[2020-05-15 18:48] davidjrh commented on #27
Fixed on commit 9f57c7ba4cc1bdde15472344c8dd997227077b3f

[2020-05-15 18:48] #27 closed

[2020-05-15 21:13] moorecreative commented on #26
I am not sure if this is related or a side product of the update still having an issue. I have made a test of saving settings in DNN 9.5, Module version 4.0.1 and receive this error regarding the bundle-en.js.map 404 and js error

![image](https://user-images.githubusercontent.com/5497943/82096642-582d9380-96cf-11ea-9dcb-30b947e501fa.png)

[2020-05-15 21:45] moorecreative commented on #26
@davidjrh  ^^

[2020-05-15 22:45] davidjrh commented on #26
Please ensure you are not using the previous cached version of the .js file

[2020-05-15 22:56] moorecreative commented on #26
YES, that was 100% the issue, you're right. Force clearing cache and or running from a different browser and it saved settings successfully.

super thanks!

[2020-05-25 18:26] davidjrh commented on #22
Self note: workaround 1: check that "AUM_ForceLowerCase" is set to "N" (can be updated through SEO > URL Management > General Settings), that "AUM_RedirectMixedCase" is set to "False"; workaround 2: Modify the "Do Not Rewrite URL Regular Expression" on SEO > URL Management > Expressions to avoid the login page being processed

[2020-06-09 20:28] moorecreative commented on #16
HI David, I'm getting this same response too... turning off the Redirect to Friendly URLs works instantly.

What would we update in the "Ignore URL Regular Expression" though if we wanted to keep the friendly url redirect ON but have it ignore the AD querystring (which is what I assume we're trying to do).

Looks like querystring variables of:
/code
/session_state

and the default Ignore URL Regul

[2020-06-21 01:50] JRPonte opened #30 "Autenticate with AD previsously created user"
Hello,
I was looking for a way to authenticate users in DNN 9.1.1 using Azure AD and found your project.
I have a multi-portal installation using DNN 9.1.1 and I have already created about 80 users. After installing azureadprovider version 3.00.00 and configuring everything I got this error:

A user is already using this email address. Please register under a different email address or obtain a pa

[2020-06-21 01:55] JRPonte commented on #30
I forgot to mention that all users are from the same AD domain and there is no portal registration, so only users that are in specific users roles can update the portal, all others will should be treated like unauthenticated users.

[2020-06-27 09:31] gbulicanu commented on #23
@davidjrh please have a look

[2020-06-28 10:07] davidjrh commented on #29
I'm seeing this below, so I suppose was a transient failure on the update feed from DNN Platform. I'm going to close it, if you see it again, let me know to re-open and investigate this deeply.

![image](https://user-images.githubusercontent.com/489976/85944555-825dac80-b92f-11ea-9ed1-2c910eaf9de5.png)

[2020-06-28 10:07] #29 closed

[2020-07-30 21:16] BillyShelton opened #32 "Multi Portal Enhancements"
I have an ideal for enhancing the way the system works with multiple portals.  I think the easiest way to explain what I am trying to accomplish is with an example.  Let's assume you have a company with multiple portals like company.com, accounting.company.com, hr.company.com, portal.company.com (intranet for all employees) etc.  If all the portals use the same Azure AD (Use Global Settings = true

[2020-08-07 21:33] BillyShelton commented on #32
After a little more thought, I have decided it doesn't really need the first setting mentioned above (Automatically add authenticated user to this portal).  I believe if the provider is enabled for the portal and Use Global Settings is true, it should automatically add authenticated users to the portal.  if these conditions are met, it simply needs to verify if a Required Azure AD Group exist for

[2020-08-13 12:59] davidjrh opened #34 "Can't assign permissions to Azure AD users until they login for the first time"
Currently there is no way to give user specific permissions to Azure AD users until they login at least for the first time. While there is a scheduled role sync implemented, there is no scheduled user sync so users automatically populates on DNN.

Would be nice to have a scheduled task that synchronizes Azure AD users in background every X hours by using the MS Graph API with filter support to avo

[2020-08-15 19:28] davidjrh commented on #30
You can try by changing the "Id" claim mapping for something that matches your current usernames. i.e. Are you using e-mails as usernames? Then you can use the "upn" or "unique_name" claim as ID mapping..

![image](https://user-images.githubusercontent.com/489976/90320125-dc452080-df35-11ea-8f00-0a9d3328ce8b.png)

[2020-08-17 09:56] #23 closed

[2020-08-17 10:02] davidjrh opened #35 "Add a dropdown with the list of supported claims"
To help mapping claims to user properties or user profile properties, adding a dropdown with the list of supported claims for the current application would help.

The list of supported claims for an application can be obtained from:
* v1.0 tokens: `https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration?appid={client-id}`
* v2.0 tokens: `https://login.microsoftonline.com/{tenan

[2020-08-18 14:30] moorecreative commented on #35
This would be excellent help in quick setup!

Even if it didn't have a dropdown listing the available claims, then perhaps a Help or Troubleshooting tab in the interface which listed these links (since all of the values are present in the configuration settings) which the admin could click to follow would be helpful.

[2020-08-27 18:13] kwb-code opened #36 "Scope of token request"
It appears that the app is using the v1.0 endpoint for the implicit grant:
[https://github.com/davidjrh/dnn.azureadprovider/blob/de8171893101577ec188e8f028b14c6aafdb0e5f/DotNetNuke.Authentication.Azure/Components/AzureClient.cs#L61-L72](url)

When building the query params, `scope` is defined:
[https://github.com/davidjrh/dnn.azureadprovider/blob/de8171893101577ec188e8f028b14c6aafdb0e5f/DotNetNuke

[2020-11-09 13:14] trouble2 opened #37 "Redirect Uri validation"
In the previously installed version, the provider seemed to work, however, it redirected me back to the login page, and the login page redirected me back to Azure, so I ended up in an endless loop. So I decided to install the new version, since this has the Redirect URI field, which should redirect me to another page instead of the login page.

I just entered "/" into the Redirect URI, so my expec

[2020-11-09 13:19] trouble2 opened #38 "Problem with JWT"
Just tried to activate the provider on  a DNN 9.6.0 installation and it said:

Could not load type 'System.IdentityModel.Tokens.Jwt.JwtSecurityToken' from assembly 'System.IdentityModel.Tokens.Jwt, Version=4.0.20622.1351, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

[2020-11-09 14:52] davidjrh commented on #37
Gotcha. Sounds like an easy validation check, and will add the help text. Thanks for the feedback!

[2020-11-09 15:02] davidjrh commented on #38
Ok, this has to do with not specifying the assembly version on the package manifest, there is a pending task to specify the required versions on the manifest, but needs to be tested to avoid issues with other 3rd party modules.

 So probably you have another version on that assembly on the \bin folder.

As workaround:
1. Right click on the "\bin\System.IdentityModel.Tokens.Jwt.dll" file and check

[2020-12-17 09:16] rodsmr commented on #14
Hi @davidjrh , thanks for your work!
Is there a way to avoid automatically authorize without change user registration?
Thanks

[2020-12-17 10:50] davidjrh commented on #14
Sounds like a new setting: "Automatically authorize users after login" (Yes/No), to enable/disable this behavior, right? I'm doing some new modifications on the Provider for a new release before the end of the year, and I can add this request.

[2020-12-17 10:56] rodsmr commented on #14
Correct, thanks a lot!

[2021-01-18 20:07] davidjrh commented on #14
Added the setting to enable/disable automatic authorization after login

[2021-01-18 20:07] #14 closed

[2021-01-19 20:01] davidjrh opened #39 "Remove Azure AD Graph API dependencies"
Change all the Azure AD Graph API calls for Microsoft Graph API calls (Azure AD Graph deprecated).

[2021-02-18 06:52] maduranga001 opened #40 "Claim 'upn' was not found on the token."
I can not load the ADD login interface through the login page. I am receiving the following error and I found it on the AdminLog page.

Why I am receiving this error? Please, help.

Claim 'upn' was not found on the token. Available claims are: , aud, iss, iat, nbf, exp, acr, aio, amr, appid, appidacr, email, family_name, given_name, idp, ipaddr, name, oid, rh, scp, sub, tid, unique_name, uti, ver

[2021-02-18 14:11] maduranga001 commented on #15
I can not see an answer to this question and still, I have this issue. Please, can you advise on this if anybody found an answer?

[2021-02-18 14:50] davidjrh commented on #15
Can you check if you are using "http" or "https", and if the same protocol is specified in the returnURL list on the Azure AD application configuration? This is a common mistake I do until I redirect all the traffic to https to avoid it.

[2021-02-18 17:31] maduranga001 commented on #15
Thank you for the reply. I used HTTPS always as I am using my website HTTPS. That was not an issue.

This is what I did and It worked for me. But I do not know if that is the exact solution.
I created a new DNN login page and placed the long module on it. Then I selected it as the login page on 'Site Settings'
I used the link as the return URL on the Azure AD app configurations.

Then it worked.

[2021-02-18 17:33] maduranga001 commented on #40
I just changed 'upn' token for now to 'unique_name'. token.

But still, one thing to clarify. It loads the profile data from the Azure AD account. But not all profile data. I can not find appropriate tokens that I use to map with DNN profile fields.

Ex: DNN Fileds - PhoneNumber, Photo, country, region, city etc.
What are the Azure AD tokens to use in the 'Mapping -> User Mapping' in the module se

[2021-02-18 19:11] davidjrh commented on #15
For the URL, note that AzureAD reply URL is case sensitive and DNN by default uses “/Login” (with capital “L”). Perhaps that was the issue?

Respect to the mappings, take a look to this blog post https://intelequia.com/blog/post/2048/using-custom-claim-mappings-on-dnn-azure-ad-module. I will try to update the module documentation putting all together in the repo Wiki.

[2021-02-18 19:22] maduranga001 commented on #15
I tried with capital L as well. But somehow it didn't work either at that time. It might be the cache issue as well and now I am clearing the cache and AppPool too before I check any changes. Anyway, now it is fine now with the new login page.

Regarding the tokens - Yes, I saw this article before. I want to update the AAD profile fields to the DNN profile. Is this possible?
Can't we use "USER PRO

[2021-02-18 19:38] davidjrh commented on #15
Regarding the tokens, yes, you have to setup the claims on the tokens in some way. In the next release all the "prefilled" mappings with the default installation will be removed to avoid confusion. It's a bit of pain the way to setup the claims on Azure AD, something I hope will be easier when 2.0 tokens go out of "Preview".

[2021-02-19 08:30] maduranga001 opened #41 "Azure AD roles map and synchronize with DNN roles"
I am using a free Azure version, So I can use only the default Azure AD roles. I created a new role on DNN and mapped on the "ROLE MAPPINGS". But I can not see the DNN user has updated with the role.

Please, can you advise me on how to work with this?

Thank you!

[2021-02-19 08:40] maduranga001 opened #42 "Pass user profile data to third party API"
Please, can I know if it is possible to pass DNN user profile data to another Web API through this module? It may be query string or though tokens or any other possible way to pass the data to a third-party external app?

I appreciate your support.

[2021-03-15 09:22] rodsmr commented on #29
Hi @davidjrh , this is my situation:
![tempsnip](https://user-images.githubusercontent.com/17640209/111131139-39f72500-8578-11eb-9a34-f362c9708824.png)

Do you need other info?
Thanks :)

[2021-03-15 13:47] rodsmr opened #43 "Private registration but user automatically authorized"
**Environment**
- DNN 9.9.0
- DNN Azure AD Provider 4.3.0
- Windows Server 2012 R2

**Problems**
I set private registration (how described in [DNN registration type](https://www.dnnsoftware.com/wiki/registration-types)): I think a not registered AD users need to be authorized by Site Admin but this does't happen.
I'm going to explain my problem

1. A not registered AD user try to "Sign in with Azu

[2021-03-15 15:01] davidjrh commented on #43
This scenario was fixed on commit https://github.com/davidjrh/dnn.azureadprovider/commit/acd6242edd0da59ddda1064615c5747dde0a63ea and a new setting was introduced to disable the "Automatic authorization" of users after signing in (is enabled by default since you can control that behavior through the Azure AD app configuration).

I will try to build a new release this week to include that behavior.

[2021-03-15 15:02] davidjrh commented on #41
To setup role sync, you have to setup the Graph API App on the "Advanced settings" and check the Role Sync checkbox.

[2021-03-15 20:10] JRPonte commented on #40
I'me having a similar issue, I'me getting this error:

Claim 'given_name' was not found on the token. Available claims are: , aud, iss, iat, nbf, exp, acr, aio, amr, appid, appidacr, ipaddr, name, oid, onprem_sid, rh, scp, sub, tid, unique_name, upn, uti, ver

The claim is there for some users, but not for others. If the claim is not present the value should be empty, and not present an error.

[2021-03-25 15:56] rodsmr commented on #43
Hi @davidjrh , is there update about new release?
Thanks for your work :)

[2021-04-06 09:32] davidjrh commented on #43
Hi @rodsmr , the new v4.0.4 has been released including the new setting. Hope this helps!

[2021-04-06 09:32] #43 closed

[2021-04-13 18:10] epdubi opened #45 "Error on AuthorizationEndpoint redirect"
- DNN v9.9
- Using Xcillion skin

I'm running into the following error when redirecting to the `AuthorizationEndpoint` from [AzureClient.cs](https://github.com/davidjrh/dnn.azureadprovider/blob/master/DotNetNuke.Authentication.Azure/Components/AzureClient.cs#L629). Has anyone seen this one before? Any ideas?

[code]

[2021-04-13 18:56] epdubi commented on #45
Ending the Response by not specifying the Redirect's `endResponse` param is working.

`HttpContext.Current.Response.Redirect(AuthorizationEndpoint + "?" + parameters.ToNormalizedString());`

[2021-04-19 14:38] rodsmr opened #46 "Problem after update AD password"
**Environment**

- DNN 9.9.0
- DNN Azure AD Provider 4.0.4
- Windows Server 2012 R2

**Problem**
I've update Azure Active Directory AAD password few days ago; after this change, I try to login my site and I've got the attached error
![ErroreAAD](https://user-images.githubusercontent.com/17640209/115253872-1aca5500-a12d-11eb-9488-be374c77df21.jpg)
If I discard the save user/pw and try new value (sa

[2021-05-18 16:15] rodsmr opened #47 "Private registration and login after admin authorization"
DNN 9.9.0
DDN Azure AD Provider 4.0.4

Hi @davidjrh ,
I set private registration on my portal. It's work properly because not existing users are created with no authorization (new setting from v4.0.4). They receive the message about admin authorization and close the browser window.
Admin authorize the user, the user open browser window, go to site and the site ask immediatly to choose login accoun

[2021-05-21 07:26] rodsmr commented on #47
There is **AzureUserToken** cookie than enable "auto login"

Can I modify it?

[2021-05-21 08:31] davidjrh commented on #47
Hi, the Azure AD auth cookie is set on the browser and it is alive for 1h (60min by default, you can change it on Azure AD settings). So if the user access the site again, with the same browser that was already opened, it won't ask to login. This is expected because the cookie will remain there for 1h.

Note that if you have Windows 10 with users logged in with Azure AD credentials and using Edge,

[2021-06-15 10:25] rodsmr commented on #47
Ok, thanks @davidjrh . The cookie can be edited only in Azure Premium

Is there a way to notify user that login is refused because he is unauthorization?

[2021-06-20 11:13] davidjrh commented on #45
After some tests, the problem was not related to the "false" passed to the redirect method, was the combination of that parameter plus the following line adding a Flush (the flush was causing to set that content after the headers), so the issue was solved by remobing the flush. The "false" parameter remains, otherwise a ThreadAbort exception is recorded caused by the redirect.

[2021-06-20 11:13] #45 closed

[2021-06-20 11:22] davidjrh commented on #47
On v4.0.4 I added an option for the cases where an AzureAD auth error ocurred (i.e. the user can sign in into Azure AD, but the app registration in Azure AD is setup for manual assignment, so the user can't login into the website because is not authorized). In that case, you can use this setting:

![image](https://user-images.githubusercontent.com/489976/122672055-7b275280-d1c1-11eb-9f62-efbcdbff4

[2021-06-20 11:47] davidjrh commented on #47
BTW, I normally create the page "/auth-error" including a Razor Script module with the following template:

[code]

[2021-06-21 07:26] rodsmr commented on #47
Thank you David for your exhaustive example

[2021-06-21 07:26] #47 closed

[2021-07-16 12:16] rodsmr commented on #41
I've got a problem with **Profile sync**
I enabled this feature, in Graph Client I set
- Application Id
- Secret key
with the same values used in _General Settings_

I've this errorr
[code]

Is there a way to solve?

[2021-07-19 10:57] davidjrh commented on #41
Sounds like a permissions issue with the application. If you are going to use the same application for both the delegated and graph API background API calls, ensure that:
* You added the required delegated permissions
* You added the required "application" scope permissions and granted them for the organization. In the current version, there are calls to the Azure AD Graph API and the Graph API, s

[2021-07-20 12:41] rodsmr commented on #46
I need to reopen this issue. Today an user updates its AAD password and it has the same problem

[2021-07-20 12:44] shanewalker1595 commented on #46
@rodsmr , does the user have a Microsoft LIVE account with the same credentials as their AAD account?

[2021-07-20 12:46] rodsmr commented on #46
I suppose yes (but I really dont know). Is there a way to debug?

[2021-07-20 12:52] swalker1595 commented on #46
I'm not sure if there is a way to debug but we have had instances (not specific to DNN) where users had both a Personal Microsoft Live Account and an AAD Account with the same credentials. When this happens, I have seen instances where they will be redirected to https://login.live.com/ to login instead of https://login.microsoftonline.com/

If the user is logging into login.live.com instead of log

[2021-07-20 12:55] rodsmr commented on #46
@swalker1595 thanks. Can I force to use https://login.microsoftonline.com/ instead of https://login.live.com/ ?

[2021-07-20 12:55] swalker1595 commented on #46
In fact, I was just able to recreate your exact issue by logging into our DNN tenant with my personal (Non-AAD) credentials:

![image](https://user-images.githubusercontent.com/35071216/126327774-0df5ec5b-0e09-4171-a4a0-18772bf162e2.png)

[2021-07-20 13:00] swalker1595 commented on #46
I don't think there's any way to prevent this as it's Microsoft's intended behavior to redirect users to login.live.com

I hate linking to external sites but here's some documentation I found:
https://stackoverflow.com/questions/37245600/how-to-prevent-redirect-from-login-microsoftonline-com-to-login-live-com-while-u
https://docs.microsoft.com/en-us/answers/questions/34806/azure-ad-404-error-when-

[2021-07-20 13:14] rodsmr commented on #46
@swalker1595 thank you very much, I read your docs!

[2021-07-27 14:42] rodsmr opened #48 "Destroy AzureUserToken at browser/tab close"
Hi :)

Is there a way to destroy AzureUserToken at browser/tab close?

I try to add more info and describe my problem:

1. User go to my site and show login page
2. Click to "Login with AzureAD" button and do a succesfull login
3. Return to my site, navigate some page and close the tab/browser **without logout**
4. Reopen the browser, go to my site and directly go to login.microsoftonline.com with

[2021-07-30 08:22] rodsmr commented on #46
Hi @swalker1595
From [Microsoft OAuth 2.0 doc](**https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow**) , I modify the _AzureClient.cs_ code to add **new QueryParameter("prompt", "login")** at _Authorize() method_

I think this configuration can be choose by user during configuration. @davidjrh what do you think about my idea?

[2021-10-06 07:52] jeestirlingdev opened #49 "ADAL deprecation"
From a quick look at the code it looks like this provider is using Azure Active Directory Authentication Library (ADAL). Microsoft is deprecating ADAL with support ending June 2022 and recommending apps migrate to Microsoft Authentication Library (MSAL).

If it is the case that the provider is using ADAL, are there plans to migrate to MSAL? We have some development capacity but do not wwant to dup

[2021-10-06 08:41] davidjrh commented on #49
Hi @jeestirlingdev! We'are actively working on it now, and expecting to have it ready for tests before the end of October, for this provider and for the Azure AD B2C provider as well.

[2021-10-06 08:58] jeestirlingdev commented on #49
Excellent! We will watch out for testing releases and give feedback asap. Let me know if we can help out in other ways.

[2021-10-06 08:58] #49 closed

[2021-10-20 08:52] davidjrh opened #50 "Add option to allow legacy logins only from specific IP addresses"
To avoid the use from the legacy login page for general public, include an option to don't allow to use the legacy login form, unless  it is from whitelisted IP addresses.

[2021-10-25 04:51] rbeja opened #51 "Unable to build solution - Feed does not exist"
It seems like the nuget feed used for restoring some of the project packages doesn't exist, visiting the URL (https://www.myget.org/F/dnn-software-public/npm/) in a browser also returns "Feed does not exist."

Has this feed moved?

[2021-10-26 00:43] #51 closed, assigned to nobody

[2021-12-13 16:50] #48 closed

[2022-02-01 14:48] rodsmr opened #53 "User can't be create if another has same nickname"
Hi @davidjrh , I've got this problem: can you help me to find a way to solve it?
In my site, with private registration, I've two kind of login: one with your module, one with [SPID](https://www.spid.gov.it/en/what-is-spid/) (Public Digital Identity System (SPID) is the simple, fast and secure access key to digital services of local and central administrations)

The login phase goes when

1. User l

[2022-02-04 11:40] davidjrh commented on #39
This has been completed con commit https://github.com/davidjrh/dnn.azureadprovider/commit/9c1325edf4333b93496d8acedd8bcb2f32c39490 and available since version [v4.1.0](https://github.com/davidjrh/dnn.azureadprovider/releases/tag/v4.1.0)

[2022-02-04 11:40] #39 closed

[2022-02-04 11:43] davidjrh commented on #53
I don't think the DisplayName is causing this problem, I've tested other scenarios having mix of Auth providers working well. Can you share more details?
* Has the DNN instance more than one portal?
* Have you checked if the user is on the "deleted" users list and still on the recycle bin?

[2022-02-04 11:59] davidjrh commented on #42
The token can be used to authenticate on another Web API, but some advanced settings must be setup. Please check the documentation available for the B2C module that would apply on this case:
* https://github.com/intelequia/dnn.azureadb2cprovider
* https://github.com/intelequia/dnn.azureadb2cprovider#samples

[2022-02-04 11:59] #42 closed

[2022-02-04 12:01] davidjrh commented on #41
Starting v4.1.0 Azure AD Graph is no longer used. Now Microsoft Graph is used for all the API calls. Please, check the upgrading instructions and Graph API permissions mentioned on the release

https://github.com/davidjrh/dnn.azureadprovider/releases/tag/v4.1.0

[2022-02-04 12:01] #41 closed

[2022-02-04 12:04] davidjrh commented on #40
I've seen this behavior and on other apps they just put "Unknown" as the name. I believe that's better than throwing an exception. Sounds like another advanced setting.

[2022-02-04 12:06] davidjrh commented on #38
Installed on a v9.10.2 with no issues at all. Closing at this point as the workaround is documented.

[2022-02-04 12:06] #38 closed

[2022-02-04 13:28] miguelvaz78 commented on #40
Hi all,

Just a quick note. What I have done to surpass my issue not having some AD fields set was to be a little more permissive and have a method for falling back when first or last name are not defined:

Hope this contribution helps someone:

[code]

[2022-02-04 14:31] rodsmr commented on #53
Hi @davidjrh , thanks for the response
Question 1: DNN instance has 1 portal
Question 2: there isn't deleted users

From better code analysis, I found **AuthenticateUser** method in _Components/AzureClient.cs_ class. I put my eyes on this part of method

[code]

There is this comment

// Otherwise, AuthenticateUser will perform a Response.Redirect, so we have to sinchronize the roles before that,

[2022-02-04 15:04] davidjrh commented on #40
This is interesting, in most of scenarios I've seen this error, is because what's not filled is the DisplayName. Thing to note when developing this enhancement.

Thanks for for your contribution!

[2022-02-04 15:10] davidjrh commented on #53
Can you share the collation of your database? I'm wondering if this line is causing the issue because the prefix should be `"Azure-"` instead of `"azure-"` being case sensitive (anyway, I'm going to fix this to don't fail on case sensitive databases)

`var usernameToFind = usernamePrefixEnabled ? $"azure-{userClaim.Value}" : userClaim.Value;`

[2022-02-04 15:29] rodsmr commented on #53
Collation is SQL_Latin1_General_CP1_CI_AS

[2022-02-04 15:57] davidjrh opened #56 "Enhance claim mappings with calculated fields"
The current claim mapping is done by the complete claim value, but would be interesting to support string operations such as concatenation of claims and strings, etc. Now that Power Fx language is Open Source, would be interesting to explore that way.

https://www.youtube.com/watch?v=SsJBrZ7YuhU

[2022-02-06 15:37] davidjrh commented on #53
And in the Users table, the user is also with the correct PortalId? I'm wondering how this line of code is not returning a user. Can you check the value of portalSettings.PortalId and if there is any whitespace on the claim or on the Username field in the database?

`userInfo = UserController.GetUserByName(portalSettings.PortalId, usernameToFind);`

[2022-02-07 09:07] rodsmr commented on #53
Hi @davidjrh , I've found the problem: DNN doesn't accept two users with same DisplayName. Look the attached image, from Users admin panel
![image](https://user-images.githubusercontent.com/17640209/152756003-ca49c332-dcec-4337-90eb-8630c2ad86fe.png)

In the code, I add a try/catch block
[code]

and now I can see the message "The Display Name is already in use."

Thanks for the support

PS: I repo

[2022-02-07 09:34] davidjrh commented on #53
@rodsmr by default, DNN supports duplicated display names unless you go and change that setting on Security > Member Accounts > Registration Settings. I will try to accommodate the code for that setting failing gracefully.

![image](https://user-images.githubusercontent.com/489976/152761990-b86a9f61-6546-49cf-998e-872e7f404a94.png)

[2022-02-07 09:37] rodsmr commented on #53
@davidjrh ah ok, in my case _Require Unique Dispaly Name_ is set to true

[2022-02-07 16:22] rodsmr commented on #53
Hi @davidjrh ,
I've got another "problem": sometimes, when AAD login create a new user firstname and lastname are inverted. I've not access to Azure Active Directory but the manteiner tells me the data are saved correctly

How can I indagate?

[2022-02-07 16:29] davidjrh commented on #53
The easiest way would be to inspect the token that is stored in the browser cookie and inspect the claims. You can use the "EditThisCookie" Chrome/Edge addon, and then paste the content of the cookie on https://jwt.io to decode the token.

Other approach would be, if you have setup advanced settings with the App/Secret for "Application" type permissions, to query directly the Graph API to check th

[2022-02-07 20:48] BillyShelton commented on #32
@djh146 - I actually created a pull request to address your specific issue, but it was ignored. I don't know if I did something wrong or if it just didn't fit with the plans.  My code is now too far behind to be useful but if you are interested in how I did it you can look at my commit: [https://github.com/davidjrh/dnn.azureadprovider/pull/33/commits/1f654a2ec437085707f9c23930479cc48aa076c4#diff-1

[2022-02-10 12:47] JRPonte commented on #30
I still can't authenticate with AAD a user that was created directly in DNN.
The error is this:
A user already exists for the user name specified. Please register again using a different user name.

The username is the email, so if someone has the same username and the authentication from AAD is correct it should be autehenticated in DNN.

[2022-02-10 17:17] davidjrh commented on #30
Hi @JRPonte, normally the are not created directly in DNN, allowing the provider to populate them, bu I can imagine your scenario (you had already the users and you installed later the Azure AD module, and want to map existing users).

To do that:
1) Ensure the claim you use in the mapping "Id" has the same user value you have in your existing user (check in DB)
2) Ensure the "IdentitySource" prof

[2022-02-10 17:59] JRPonte commented on #34
Hi David, I have your module on a production portal.
I'll like to assign an user role to every user that authenticate with AAD. So the user may not have been previously created on DNN, the creation of the new user should be with the first login and automatically assign a role.
Is this possible?

[2022-05-22 12:10] #53 closed

[2022-05-22 12:20] davidjrh opened #57 "Allow to setup certificates for authorizing the Graph Client"
As per Microsoft recommendation, instead of using client secrets for the service principals, the provider should allow to authenticate the clients by using certificates.

[2022-06-24 11:40] davidjrh opened #59 "Allow module extensibility to hook login events"
In the same way the Azure AD B2C module supports extensibility to allow custom token validations, implement this extensibility in the same way.

[2022-07-20 19:14] pmmarkley opened #60 "Error when upgrading to DNN Evoq 9.10"
I recently upgraded our development environment to DNN version 9.10 and after I receive the following error when navigating to the login screen:

System.TypeLoadException: Could not load type 'System.IdentityModel.Tokens.Jwt.JwtSecurityToken' from assembly 'System.IdentityModel.Tokens.Jwt, Version=4.0.20622.1351, Culture=neutral, PublicKeyToken=31bf3856ad364e35'
![Screen Shot 2022-07-20 at 3 12 22

[2022-07-20 19:45] pmmarkley commented on #60
I did try the work around linked below but it did not work. I still receive the same error.

https://github.com/davidjrh/dnn.azureadprovider/issues/38

[2022-07-20 19:51] davidjrh commented on #60
Hi @pmmarkley, that error should be solved following instructions described on #38, just replace the `newVersion="5.6.0.0"` with the version of your library.

[2022-07-20 20:27] pmmarkley commented on #60
Hi @davidjrh,

That version is already in the web.config as the new version
![Screen Shot 2022-07-20 at 4 25 50 PM](https://user-images.githubusercontent.com/52170884/180075127-b441a252-dd0e-42af-9db5-8759284a9e06.png)
.

[2022-07-20 20:47] davidjrh commented on #60
Which version of the Azure AD module was previously installed?

I'm sorry I don't have access to a Evoq version to test it with that version. Sounds like Evoq is using an old version of that library and changed the version needed by the Azure AD module or any of its dependencies. Have you opened a support ticket to DNN Corp.? Since it is an Evoq version, they should be able to fix this for you.

[2022-07-20 20:56] pmmarkley commented on #60
Ok thank you for your help.

Thank you,

Pamela Markley
Web Development Manager
Department of Information Technology
Columbus Consolidated Government

From: David Rodríguez ***@***.***>
Date: Wednesday, July 20, 2022 at 4:47 PM
To: davidjrh/dnn.azureadprovider ***@***.***>
Cc: Pamela Markley ***@***.***>, Mention ***@***.***>
Subject: [EXTERNAL] Re: [davidjrh/dnn.azureadprovider] Error when upgrad

[2022-07-24 23:47] ainsofs opened #61 "Azure login stopped working on DNN 9.8.1 for DNN Azure Active Directory provider v4.1.0"
Hello,

I have had the module working well in prod for a while. Last time I tried in April it was working but now it doesnt. I tried upgrading to the latest version 4.1.0 but no change. I am able to authenticate on Azure but when redirected back to DNN it throws an error (see below).

I tried installing on a fresh 9.8.1 installation and using the localhost domain it all worked. When I moved the fr

[2022-08-31 15:53] davidjrh commented on #61
Hi @ainsofs, can you change the <level value="Error" /> to "Debug" in the DotNetNuke.log4net.config file and then see the if you can find more information on the log4net logs? (Under Portals/_default/Logs). There are severeal reasons for that exception and using this approach can help. Can be a TLS 1.2 issue when exchanging the token (now being forced by Microsoft since a few months ago), the user

[2022-08-31 15:54] #60 closed

[2022-09-05 13:49] Rodien opened #62 "Question: Does this module work with the PKCE flow"
Hi David,

Does this module work with the PKCE flow?

Have you tried this before?

[2022-09-05 18:55] davidjrh commented on #62
Hi @Rodien,

Not currently, but seems that would be easy to add support by specifying the code_chanllenge parameters described at https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code when requesting an authorization code, that should be added after this line https://github.com/davidjrh/dnn.azureadprovider/blob/master/DotNetNuke.Auth

[2022-10-03 08:12] peya02 opened #63 "Acceso con usuario local (admin)"
Hola @davidjrh
He implantado la versión AzureADProvider 4_1_1 y accedo perfectamente con cualquier usuario de mi azure, el problema es que no sé cómo puedo acceder ahora con el usuario local creado al inicio del host, básicamente este usuario es el superadmin y con los que accedo de Azure no pueden hacer nada.
¿hay forma de acceder con usuario local o asignar permisos admin algún usuario de azure?

[2022-10-03 08:40] davidjrh commented on #63
Hola @peya02,

si has habilitado la opción de autoredirección, no se muestra la pantalla de login de DNN y que permite seleccionar el proveedor de identidad. Si quieres forzar a que te aparezca esa pantalla y así hacer login con el usuario de DNN, puedes usar la URL ./Login?legacy=true

Así entras con tu usuario superadmin, y puedes hacer superadmin a otros usuarios de Azure AD sin problemas.

[2022-10-03 10:27] peya02 commented on #63
Hola @davidjrh
si accedo a https://powerbi.dnndev.me/Login?legacy=true me redirige igualmente a login de O365.

[2022-10-03 10:50] davidjrh commented on #63
Perdón, fallo mío, usa esta: https://powerbi.dnndev.me/Login?legacy=1

[2022-10-03 10:57] peya02 commented on #63
Hola @davidjrh
Ahora si, muchas gracias.

[2022-10-03 11:57] #63 closed

[2022-10-25 14:26] davidjrh commented on #40
[maduranga001](https://github.com/maduranga001) about the initial error related to the "upn" not being found in the token, the reason could be that the user being logged is a B2B user (this is a guest user in the current tenant).

Hope this helps.

[2022-10-26 10:14] davidjrh commented on #37
This has been fixed on PR #64

[2022-10-26 10:14] #37 closed

[2022-11-03 19:23] davidjrh commented on #46
Fixed on PR #69

Thanks @alendv for the contribution.

[2022-11-03 19:23] #46 closed

[2022-11-10 14:48] alendv opened #70 "Update the Azure AD B2C Provider to use the Dnn.React.Common 9.11"
The Azure AD provider was changed to use the Dnn.React.Common 9.11 library. Update this provider to work in the same way.

[2022-11-11 10:58] #70 closed

[2022-11-13 12:49] davidjrh opened #72 "Set the UserAgent on the Graph API calls"
Currently the calls made to the Graph API don't have the User-Agent header specified, making those requests as suspicious for security professionals when accessing the access logs.

Solution: Set the header to "DNN Azure AD Provider - Sync Agent (v1.xx)"